body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    margin-top: 8vh;
}

h1 {
    color: hotpink;
    font-size: 3em;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted purple;
}

p{
    font-size: large;
}
h2 {
    font-size: 1.7em;
    margin: 20px 0px;
    font-style: italic;
    font-weight: bold;
}

#job-title {
    font-size: 1.4em;
    margin: 20px 0px;
    color: #999999;
    font-weight: bold;
}
ul{
    font-size: 1.3em;
    background-color: #eae7e7;
    padding: 30px;
    border:6px solid purple ;
}
a:link, a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}
   
#link1{
    text-decoration: none;
    color: rgb(4, 161, 4);
}